/* VARIABLES */
:root{
    --primary-color: #9356DC ;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --primary-background-color: #f6f6f6;
    --secondary-background-color: #eaeaea;
    --primary-text-color: #484848;

    --box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

html{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    scroll-behavior: smooth;
}



