/* GLOBAL */

.wraper_content_title{
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 25px;
}


.secondary_btn{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--primary-background-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    padding: 25px 0;
    margin: 15px 0;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 700;
}
.secondary_btn_pastille{
    display: flex;
    position: absolute;
    left: -10px;
    background-color: var(--primary-color);
    border-radius: 50px;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
}
.secondary_btn i{
    width: 70px;
    text-align: center;
}

/* HEADER */
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-background-color);
}
.header_content_logo {
    display: flex;
    justify-content: center;
    padding: 15px 0 5px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 10px 0px rgb(0 0 0);
    font-family: 'Shrikhand', cursive;
    font-size: 1.9rem;
}
.header_content_localisation{
    display: flex;
    padding: 15px 0px;
    gap: 15px;
}
.header_content_title{
    width: 100%;
    padding: 25px 0;
    background-color: var(--primary-background-color);
    text-align: center;
}



/* MAIN */
.restaurants{
    background-color: var(--primary-background-color);
}

.wraper_content_vignette{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin: 20px 0;
    box-shadow: var(--box-shadow);
}
.wraper_content_vignette_new{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99e2d0;
    color: #008766;
    height: 25px;
    width: 80px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 700;
}
.wraper_content_vignette_image{
    overflow: hidden;
    height: 175px;
}
.wraper_content_vignette_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.wraper_content_vignette_info{
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
}
.wraper_content h4{
    margin: 5px 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.wraper_content p{
    margin: 5px 0;
    font-weight: 300;
}
.wraper_content_vignette_info a{
    text-decoration: none;
    color: var(--primary-text-color);
}









